*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{

}
.menu-bar{
    background-color: rgb(0,100,0);
    text-align: center;
;
}
.menu-bar ul{
    margin-left: 100px;
    display: inline-flex;
    list-style: none;
    color: white;
}
.menu-bar ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.menu-bar ul li a{
    text-decoration: none;
    color: white;
}
.active, .menu-bar ul li:hover{
    background-color: #2bab0d;
    border-radius: 3px;

}
.submenu1{
    display: none;
}
.menu-bar ul li:hover .submenu1
{
    display: block;
    position: absolute;
    background-color: rgb(0,100,0);
    margin-top: 15px;
    margin-left: -30px;
}
.menu-bar ul li:hover .submenu1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .submenu1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;
}
.menu-bar ul li:hover .submenu1 ul li:last-child{
    border-bottom: none;
}
.menu-bar ul li:hover .submenu1 ul li a:hover
{
    color: #00adee;
}
.submenu2{display: none}
.hoverme:hover .submenu2
{
    position: absolute;
    display: block;
    margin-top: -40px;
    margin-left: 140px;
    background: rgb(0,100,0);
}
.menu-bar h1{text-align: left}

#logo{position: absolute;text-align: left;padding-top: 15px;text-decoration: none;color: white;padding-left: 10px}






#rec1{
    height: 400px;
    width: 100%;
    background-color: #0d3578;
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 70px;
}
#rec1 button{
    margin-top: 50px;
    height: 40px;
    width: 100px;
    background-color: #298aff;
    color: white;
    border: #0D3578 1px solid;
}
#rec2{

    height: 350px;
    width: 100%;

    text-align: center;
    font-size: 30px;
    color: black;

}
#rec2a{
    height: 100%;
    width: 50%;
    background-color: transparent;
    float: left;
    text-align: center;font-size: medium;
    color: black;
    padding-top: 100px;
    font-size: 25px;

}
#rec2b{
    height: 100%;
    width: 50%;
    background-color: blanchedalmond;
    float: left;
}
#rec2b ul{
    margin-left: 70px;
    text-decoration: none;
    list-style-type: none;

}
#rec2b ul li{
    float: left;
    padding: 40px;
}
#rec3 {
    padding-top: 30px;
    height: 500px;
    width: 100%;
    background-color: #144699;

}
#rec3a{
    height: 250px;
    width: 60%;
    background-color: transparent;
    margin-left: 20%;
    text-align: center;
    font-size: 23px;
color: white;
}
#rec3b img{
    margin-left: 350px;
}
#rec4{
    height: 200px;
    width: 100%;
    background-color: #00adee;
    text-align: center;
    align-items: center;
    font-size: 20px;
}
#rec4 select{
    margin-top: 50px;
    width: 150px;
    height: 50px;
    background-color: #144699;
    border: #144699;
}



#rec6{height: 350px;width: 100%;background-color: whitesmoke;
    float: left;}
#rec6a{height:300px;width: 200px;background-color:transparent ;float: left;margin-left: 270px;margin-top: 30px;color: grey;text-align: center;font-size: 30px;}
.rec6aa{text-decoration: none}
#rec6b{height:300px;width: 200px;background-color:transparent ;float: left;margin-left: 100px;margin-top: 30px;color: grey;text-align: center;font-size: 30px;}
#rec6c{height:300px;width: 200px;background-color:transparent ;float: left;margin-left: 100px;margin-top: 30px;color: grey;text-align: center;font-size: 30px;}
#search{width: 100px;margin-top: 25px}
